#nav {
  background-color: #4de619 !important;

  #nav-container {
    background-color: #4de619;

    .navbar-brand {
      background-color: #b219e6;
      border-radius: 10px;
    }

    .navbar-toggler {
      background-color: #b219e6;
    }
  }
}